<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.pay.business.record.mapper.Payv2BussWayDetailMapper">

	<resultMap id="payv2busswaydetail_result_map" type="com.pay.business.record.entity.Payv2BussWayDetail" >
		<id column="id" property="id" />
		<result column="company_check_id" property="companyCheckId"/>
		<result column="channel_id" property="channelId"/>
		<result column="company_id" property="companyId"/>
		<result column="app_id" property="appId"/>
		<result column="pay_way_id" property="payWayId"/>
		<result column="success_count" property="successCount"/>
		<result column="success_money" property="successMoney"/>
		<result column="refund_count" property="refundCount"/>
		<result column="refund_money" property="refundMoney"/>
		<result column="buss_money" property="bussMoney"/>
		<result column="cost_rate" property="costRate"/>
		<result column="cost_rate_money" property="costRateMoney"/>
		<result column="buss_way_rate" property="bussWayRate"/>
		<result column="buss_way_rate_money" property="bussWayRateMoney"/>
		<result column="clear_time" property="clearTime"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
	
	<!-- 分页limit -->
	<sql id="base_page_query_end">
		<![CDATA[
			LIMIT #{curPage},#{pageData}
		]]>
	</sql>
	
	<!-- 获取总数 -->
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from payv2_buss_way_detail  
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
			<if test="companyCheckId!=null and companyCheckId!=''">
				and company_check_id like CONCAT('%',#{companyCheckId},'%')
			</if>
			<if test="channelId!=null and channelId!=''">
				and channel_id = #{channelId}
			</if>
			<if test="companyId!=null and companyId!=''">
				and company_id = #{companyId}
			</if>
			<if test="appId!=null and appId!=''">
				and app_id = #{appId}
			</if>
			<if test="payWayId!=null and payWayId!=''">
				and pay_way_id = #{payWayId}
			</if>
			<if test="successCount!=null and successCount!=''">
				and success_count = #{successCount}
			</if>
			<if test="successMoney!=null and successMoney!=''">
				and success_money like CONCAT('%',#{successMoney},'%')
			</if>
			<if test="refundCount!=null and refundCount!=''">
				and refund_count = #{refundCount}
			</if>
			<if test="refundMoney!=null and refundMoney!=''">
				and refund_money like CONCAT('%',#{refundMoney},'%')
			</if>
			<if test="bussMoney!=null and bussMoney!=''">
				and buss_money like CONCAT('%',#{bussMoney},'%')
			</if>
			<if test="costRate!=null and costRate!=''">
				and cost_rate like CONCAT('%',#{costRate},'%')
			</if>
			<if test="costRateMoney!=null and costRateMoney!=''">
				and cost_rate_money like CONCAT('%',#{costRateMoney},'%')
			</if>
			<if test="bussWayRate!=null and bussWayRate!=''">
				and buss_way_rate like CONCAT('%',#{bussWayRate},'%')
			</if>
			<if test="bussWayRateMoney!=null and bussWayRateMoney!=''">
				and buss_way_rate_money like CONCAT('%',#{bussWayRateMoney},'%')
			</if>
			<if test="clearTimeBegin!=null and clearTimeBegin!=''">
				and clear_time <![CDATA[ >= ]]> str_to_date(#{clearTimeBegin},  '%Y-%m-%d') 
			</if>
			<if test="clearTimeEnd!=null and clearTimeEnd!=''">
				and clear_time <![CDATA[ <= ]]> str_to_date(#{clearTimeEnd},  '%Y-%m-%d') 
			</if>
			<if test="createTimeBegin!=null and createTimeBegin!=''">
				and create_time <![CDATA[ >= ]]> str_to_date(#{createTimeBegin},  '%Y-%m-%d') 
			</if>
			<if test="createTimeEnd!=null and createTimeEnd!=''">
				and create_time <![CDATA[ <= ]]> str_to_date(#{createTimeEnd},  '%Y-%m-%d') 
			</if>
		</where>
	</select>
	
	<!-- 新增对象 如果需要在新增的时候返回id 就加入这个: useGeneratedKeys="true" keyProperty="id"   -->
	<insert id="insertByEntity" parameterType="com.pay.business.record.entity.Payv2BussWayDetail" useGeneratedKeys="true" keyProperty="id">
		insert into payv2_buss_way_detail
		<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id!=null ">
				id,
			</if>
      		<if test="companyCheckId!=null ">
				company_check_id,
			</if>
      		<if test="channelId!=null ">
				channel_id,
			</if>
      		<if test="companyId!=null ">
				company_id,
			</if>
      		<if test="appId!=null ">
				app_id,
			</if>
      		<if test="payWayId!=null ">
				pay_way_id,
			</if>
      		<if test="successCount!=null ">
				success_count,
			</if>
      		<if test="successMoney!=null ">
				success_money,
			</if>
      		<if test="refundCount!=null ">
				refund_count,
			</if>
      		<if test="refundMoney!=null ">
				refund_money,
			</if>
      		<if test="bussMoney!=null ">
				buss_money,
			</if>
      		<if test="costRate!=null ">
				cost_rate,
			</if>
      		<if test="costRateMoney!=null ">
				cost_rate_money,
			</if>
      		<if test="bussWayRate!=null ">
				buss_way_rate,
			</if>
      		<if test="bussWayRateMoney!=null ">
				buss_way_rate_money,
			</if>
      		<if test="clearTime!=null ">
				clear_time,
			</if>
      		<if test="createTime!=null ">
				create_time,
			</if>
    	</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id!=null ">
      			#{id},
			</if>
      		<if test="companyCheckId!=null ">
      			#{companyCheckId},
			</if>
      		<if test="channelId!=null ">
      			#{channelId},
			</if>
      		<if test="companyId!=null ">
      			#{companyId},
			</if>
      		<if test="appId!=null ">
      			#{appId},
			</if>
      		<if test="payWayId!=null ">
      			#{payWayId},
			</if>
      		<if test="successCount!=null ">
      			#{successCount},
			</if>
      		<if test="successMoney!=null ">
      			#{successMoney},
			</if>
      		<if test="refundCount!=null ">
      			#{refundCount},
			</if>
      		<if test="refundMoney!=null ">
      			#{refundMoney},
			</if>
      		<if test="bussMoney!=null ">
      			#{bussMoney},
			</if>
      		<if test="costRate!=null ">
      			#{costRate},
			</if>
      		<if test="costRateMoney!=null ">
      			#{costRateMoney},
			</if>
      		<if test="bussWayRate!=null ">
      			#{bussWayRate},
			</if>
      		<if test="bussWayRateMoney!=null ">
      			#{bussWayRateMoney},
			</if>
      		<if test="clearTime!=null ">
      			#{clearTime},
			</if>
      		<if test="createTime!=null ">
      			#{createTime},
			</if>
    	</trim>
	</insert>
	
	<!-- 根据删除 -->
	<delete id="deleteByEntity" parameterType="com.pay.business.record.entity.Payv2BussWayDetail">
		delete from payv2_buss_way_detail
		<where>
      		<if test="id!=null ">
				and id=#{id}
			</if>
      		<if test="companyCheckId!=null ">
				and company_check_id=#{companyCheckId}
			</if>
      		<if test="channelId!=null ">
				and channel_id=#{channelId}
			</if>
      		<if test="companyId!=null ">
				and company_id=#{companyId}
			</if>
      		<if test="appId!=null ">
				and app_id=#{appId}
			</if>
      		<if test="payWayId!=null ">
				and pay_way_id=#{payWayId}
			</if>
      		<if test="successCount!=null ">
				and success_count=#{successCount}
			</if>
      		<if test="successMoney!=null ">
				and success_money=#{successMoney}
			</if>
      		<if test="refundCount!=null ">
				and refund_count=#{refundCount}
			</if>
      		<if test="refundMoney!=null ">
				and refund_money=#{refundMoney}
			</if>
      		<if test="bussMoney!=null ">
				and buss_money=#{bussMoney}
			</if>
      		<if test="costRate!=null ">
				and cost_rate=#{costRate}
			</if>
      		<if test="costRateMoney!=null ">
				and cost_rate_money=#{costRateMoney}
			</if>
      		<if test="bussWayRate!=null ">
				and buss_way_rate=#{bussWayRate}
			</if>
      		<if test="bussWayRateMoney!=null ">
				and buss_way_rate_money=#{bussWayRateMoney}
			</if>
      		<if test="clearTime!=null ">
				and clear_time=#{clearTime}
			</if>
      		<if test="createTime!=null ">
				and create_time=#{createTime}
			</if>
		</where>
	</delete>

	<!-- 根据对象修改 -->
	<update id="updateByEntity" parameterType="com.pay.business.record.entity.Payv2BussWayDetail">
		update payv2_buss_way_detail
		<set>
			<if test="companyCheckId!=null ">
				company_check_id=#{companyCheckId},
			</if>
			<if test="channelId!=null ">
				channel_id=#{channelId},
			</if>
			<if test="companyId!=null ">
				company_id=#{companyId},
			</if>
			<if test="appId!=null ">
				app_id=#{appId},
			</if>
			<if test="payWayId!=null ">
				pay_way_id=#{payWayId},
			</if>
			<if test="successCount!=null ">
				success_count=#{successCount},
			</if>
			<if test="successMoney!=null ">
				success_money=#{successMoney},
			</if>
			<if test="refundCount!=null ">
				refund_count=#{refundCount},
			</if>
			<if test="refundMoney!=null ">
				refund_money=#{refundMoney},
			</if>
			<if test="bussMoney!=null ">
				buss_money=#{bussMoney},
			</if>
			<if test="costRate!=null ">
				cost_rate=#{costRate},
			</if>
			<if test="costRateMoney!=null ">
				cost_rate_money=#{costRateMoney},
			</if>
			<if test="bussWayRate!=null ">
				buss_way_rate=#{bussWayRate},
			</if>
			<if test="bussWayRateMoney!=null ">
				buss_way_rate_money=#{bussWayRateMoney},
			</if>
			<if test="clearTime!=null ">
				clear_time=#{clearTime},
			</if>
			<if test="createTime!=null ">
				create_time=#{createTime},
			</if>
		</set>
		<where>
				id=#{id}
		</where>
	</update>

	<!-- 根据对象查询单个 -->
	<select id="selectSingle" resultType="com.pay.business.record.entity.Payv2BussWayDetail" resultMap="payv2busswaydetail_result_map">
		select id,company_check_id,channel_id,company_id,app_id,pay_way_id,success_count,success_money,refund_count,refund_money,buss_money,cost_rate,cost_rate_money,buss_way_rate,buss_way_rate_money,clear_time,create_time from payv2_buss_way_detail
		<where>
			<if test="id!=null ">
				and id=#{id}
			</if>
			<if test="companyCheckId!=null ">
				and company_check_id=#{companyCheckId}
			</if>
			<if test="channelId!=null ">
				and channel_id=#{channelId}
			</if>
			<if test="companyId!=null ">
				and company_id=#{companyId}
			</if>
			<if test="appId!=null ">
				and app_id=#{appId}
			</if>
			<if test="payWayId!=null ">
				and pay_way_id=#{payWayId}
			</if>
			<if test="successCount!=null ">
				and success_count=#{successCount}
			</if>
			<if test="successMoney!=null ">
				and success_money=#{successMoney}
			</if>
			<if test="refundCount!=null ">
				and refund_count=#{refundCount}
			</if>
			<if test="refundMoney!=null ">
				and refund_money=#{refundMoney}
			</if>
			<if test="bussMoney!=null ">
				and buss_money=#{bussMoney}
			</if>
			<if test="costRate!=null ">
				and cost_rate=#{costRate}
			</if>
			<if test="costRateMoney!=null ">
				and cost_rate_money=#{costRateMoney}
			</if>
			<if test="bussWayRate!=null ">
				and buss_way_rate=#{bussWayRate}
			</if>
			<if test="bussWayRateMoney!=null ">
				and buss_way_rate_money=#{bussWayRateMoney}
			</if>
			<if test="clearTime!=null ">
				and clear_time=#{clearTime}
			</if>
			<if test="createTime!=null ">
				and create_time=#{createTime}
			</if>
		</where>
	</select>
	
	<!-- 根据对象查询列表-->
	<select id="selectByObject" resultMap="payv2busswaydetail_result_map" >
		select id,company_check_id,channel_id,company_id,app_id,pay_way_id,success_count,success_money,refund_count,refund_money,buss_money,cost_rate,cost_rate_money,buss_way_rate,buss_way_rate_money,clear_time,create_time from payv2_buss_way_detail
		<where>
			<if test="id!=null ">
				and id=#{id}
			</if>
			<if test="companyCheckId!=null ">
				and company_check_id=#{companyCheckId}
			</if>
			<if test="channelId!=null ">
				and channel_id=#{channelId}
			</if>
			<if test="companyId!=null ">
				and company_id=#{companyId}
			</if>
			<if test="appId!=null ">
				and app_id=#{appId}
			</if>
			<if test="payWayId!=null ">
				and pay_way_id=#{payWayId}
			</if>
			<if test="successCount!=null ">
				and success_count=#{successCount}
			</if>
			<if test="successMoney!=null ">
				and success_money=#{successMoney}
			</if>
			<if test="refundCount!=null ">
				and refund_count=#{refundCount}
			</if>
			<if test="refundMoney!=null ">
				and refund_money=#{refundMoney}
			</if>
			<if test="bussMoney!=null ">
				and buss_money=#{bussMoney}
			</if>
			<if test="costRate!=null ">
				and cost_rate=#{costRate}
			</if>
			<if test="costRateMoney!=null ">
				and cost_rate_money=#{costRateMoney}
			</if>
			<if test="bussWayRate!=null ">
				and buss_way_rate=#{bussWayRate}
			</if>
			<if test="bussWayRateMoney!=null ">
				and buss_way_rate_money=#{bussWayRateMoney}
			</if>
			<if test="clearTime!=null ">
				and clear_time=#{clearTime}
			</if>
			<if test="createTime!=null ">
				and create_time=#{createTime}
			</if>
		</where>
	</select>
	
	<!-- 分页 -->
	<select id="pageQueryByObject" resultMap="payv2busswaydetail_result_map" >
		
		SELECT id,company_check_id,channel_id,company_id,app_id,pay_way_id,success_count,success_money,refund_count,refund_money,buss_money,cost_rate,cost_rate_money,buss_way_rate,buss_way_rate_money,clear_time,create_time FROM payv2_buss_way_detail 
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
			<if test="companyCheckId!=null and companyCheckId!=''">
				and company_check_id like  CONCAT('%',#{companyCheckId},'%')
			</if>
			<if test="channelId!=null and channelId!=''">
				and channel_id = #{channelId}
			</if>
			<if test="companyId!=null and companyId!=''">
				and company_id = #{companyId}
			</if>
			<if test="appId!=null and appId!=''">
				and app_id = #{appId}
			</if>
			<if test="payWayId!=null and payWayId!=''">
				and pay_way_id = #{payWayId}
			</if>
			<if test="successCount!=null and successCount!=''">
				and success_count = #{successCount}
			</if>
			<if test="successMoney!=null and successMoney!=''">
				and success_money like  CONCAT('%',#{successMoney},'%')
			</if>
			<if test="refundCount!=null and refundCount!=''">
				and refund_count = #{refundCount}
			</if>
			<if test="refundMoney!=null and refundMoney!=''">
				and refund_money like  CONCAT('%',#{refundMoney},'%')
			</if>
			<if test="bussMoney!=null and bussMoney!=''">
				and buss_money like  CONCAT('%',#{bussMoney},'%')
			</if>
			<if test="costRate!=null and costRate!=''">
				and cost_rate like  CONCAT('%',#{costRate},'%')
			</if>
			<if test="costRateMoney!=null and costRateMoney!=''">
				and cost_rate_money like  CONCAT('%',#{costRateMoney},'%')
			</if>
			<if test="bussWayRate!=null and bussWayRate!=''">
				and buss_way_rate like  CONCAT('%',#{bussWayRate},'%')
			</if>
			<if test="bussWayRateMoney!=null and bussWayRateMoney!=''">
				and buss_way_rate_money like  CONCAT('%',#{bussWayRateMoney},'%')
			</if>
			<if test="clearTimeBegin!=null and clearTimeBegin!=''">
				and clear_time <![CDATA[ >= ]]> str_to_date(#{clearTimeBegin},  '%Y-%m-%d') 
			</if>
			<if test="clearTimeEnd!=null and clearTimeEnd!=''">
				and clear_time <![CDATA[ <= ]]> str_to_date(#{clearTimeEnd},  '%Y-%m-%d') 
			</if>
			<if test="createTimeBegin!=null and createTimeBegin!=''">
				and create_time <![CDATA[ >= ]]> str_to_date(#{createTimeBegin},  '%Y-%m-%d') 
			</if>
			<if test="createTimeEnd!=null and createTimeEnd!=''">
				and create_time <![CDATA[ <= ]]> str_to_date(#{createTimeEnd},  '%Y-%m-%d') 
			</if>
		</where>
			<if test="sortName!=null and sortName!=''">
				ORDER BY ${sortName} ${sortOrder}
			</if>
		<include refid="base_page_query_end"/>
	</select>
	
	<!-- 根据Map查询账单详情-->
	<select id="bussWayDetaiList" resultMap="payv2busswaydetail_result_map" >
		SELECT 	buss.id,buss.company_check_id,buss.channel_id,buss.company_id,buss.app_id,
				buss.pay_way_id,buss.success_count,buss.success_money,buss.refund_count,buss.refund_money,
				buss.buss_money,buss.cost_rate,buss.cost_rate_money,buss.buss_way_rate,buss.buss_way_rate_money,
				buss.clear_time,buss.create_time,
				(select pw.rate_name from payv2_pay_way_rate pw where pw.id=buss.pay_way_id ) as rateName
		FROM payv2_buss_way_detail buss
		<where>	
			<if test="companyId!=null ">
				and buss.company_id=#{companyId}
			</if>
			<if test="createTimeEnd!=null and createTimeEnd!=''">
				and buss.clear_time <![CDATA[ <= ]]> str_to_date(#{createTimeEnd},  '%Y-%m-%d') 
			</if>
			<if test="createTimeBegin!=null and createTimeBegin!=''">
				and buss.clear_time <![CDATA[ >= ]]> str_to_date(#{createTimeBegin},  '%Y-%m-%d') 
			</if>
			<if test="clearTime!=null and clearTime!=''">
				and str_to_date(buss.clear_time,  '%Y-%m-%d')  =  str_to_date(#{clearTime},  '%Y-%m-%d')
			</if>
			<if test="companyCheckId!=null and companyCheckId!=''">
				and buss.company_check_id = #{companyCheckId}
			</if>
		</where>
	</select>
	
	<!-- 将帐单号更新到详情记录中 -->
	<update id="updateCompanyCheckId">
			update payv2_buss_way_detail set
				company_check_id=#{companyCheckId}
			where 
				company_id=#{companyId} and
				date_format(clear_time,  '%Y-%m-%d')  =  str_to_date(#{clearTime},  '%Y-%m-%d')	
	</update>
</mapper>