/HtProject/WebRoot/WEB-INF/classes
/HtProject/target
/CloudData/bin
/credit_base/build
/Ht_Daily_Analy/bin
/HtProject-sp-callback/WebRoot/WEB-INF/classes
/HtProject-sp-callback/target
/SjDataSplit/bin

#java below
*.class
.vs
packages

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
obj
bin
target
Log
PushLog
splog
/xtone-dotnet-interface/packages
/xtone-dotnet-interface/api2sp.n8wan.com/API
