<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>

  </system.web>
  <system.webServer>
    <handlers>

      <!--Json数据回调-->
      <add name="JsonPostHandler" path="Json_*.ashx" verb="POST" type="n8wan.Public.Logical.JSonBaseSync,n8wan.Public"/>

      <!--Xml数据回调-->
      <add name="XmlPostHandler" path="xml_*.ashx" verb="POST" type="n8wan.Public.Logical.XmlBaseSync,n8wan.Public"/>

      <!--MM基地直接回调-->
      <add name="MMspcallbackPostHandler" path="MMBase_*.ashx" verb="POST" type="n8wan.Public.Logical.MMBaseSync,n8wan.Public"/>
      <add name="MMspcallbackGetHandler" path="MMBase_*.ashx" verb="GET" type="n8wan.Public.Logical.MMBaseSync,n8wan.Public"/>


      <!--咪咕基地直接回调-->
      <add name="MigopHandler" path="Migop_*.ashx" verb="*" type="n8wan.Public.Logical.MiGopBaseSync,n8wan.Public"/>

      <!--咪咕基地直接回调(兼容错误，外发同步：旋风拳王、影子部队)-->
      <add name="MigopHandler_pc" path="fctk_pc_*.ashx" verb="*" type="n8wan.Public.Logical.MiGopBaseSync,n8wan.Public"/>

      <!--普通的回调-->
      <add name="spcallbackGetHandler" path="*.ashx" verb="GET" type="n8wan.Public.Logical.BaseSPCallback,n8wan.Public"/>
      <add name="spcallbackPostHandler" path="*.ashx" verb="POST" type="n8wan.Public.Logical.BaseSPCallback,n8wan.Public"/>

    </handlers>
  </system.webServer>
</configuration>
