body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

html,
body {
	background: #e6e6e6;
	font-family: "微软雅黑";
	height: 100%;
	min-width: 1300px;
	min-height:650px;
}

img {
	border: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
}
/* select,input{
	outline: none;
} */

.bottom2,.bottom3{
	display:none;
}


tbody tr:hover{
	background:#eaf2fc;
}
.img{
	cursor:pointer;
}
nav li a{
	font-size:16px;
}
nav .sd11 a,nav .sd a, nav .dl a, nav .cx a{
	font-size:14px;
	color:#808080;
}