<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.pay.business.record.mapper.Payv2StatisticsDayWayMapper">

	<resultMap id="payv2statisticsdayway_result_map" type="com.pay.business.record.entity.Payv2StatisticsDayWay" >
		<id column="id" property="id" />
		<result column="channel_id" property="channelId"/>
		<result column="company_id" property="companyId"/>
		<result column="pay_way_id" property="payWayId"/>
		<result column="success_order_count" property="successOrderCount"/>
		<result column="success_order_money" property="successOrderMoney"/>
		<result column="statistics_time" property="statisticsTime"/>
		<result column="create_time" property="createTime"/>
	</resultMap>
	<!-- 返回类型 -->
	<resultMap type="com.pay.business.record.entity.Payv2StatisticsDayWayBean" id="getDayStatistics_way_map">
		<result column="successCount" property="successCount"/>
		<result column="successMoney" property="successMoney"/>
		<result column="payId" property="payId"/>
	</resultMap>
	<!-- 分页limit -->
	<sql id="base_page_query_end">
		<![CDATA[
			LIMIT #{curPage},#{pageData}
		]]>
	</sql>
	
	<!-- 获取总数 -->
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from payv2_statistics_day_way  
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
			<if test="channelId!=null and channelId!=''">
				and channel_id = #{channelId}
			</if>
			<if test="companyId!=null and companyId!=''">
				and company_id = #{companyId}
			</if>
			<if test="payWayId!=null and payWayId!=''">
				and pay_way_id = #{payWayId}
			</if>
			<if test="successOrderCount!=null and successOrderCount!=''">
				and success_order_count = #{successOrderCount}
			</if>
			<if test="successOrderMoney!=null and successOrderMoney!=''">
				and success_order_money like CONCAT('%',#{successOrderMoney},'%')
			</if>
			<if test="statisticsTimeBegin!=null and statisticsTimeBegin!=''">
				and statistics_time <![CDATA[ >= ]]> str_to_date(#{statisticsTimeBegin},  '%Y-%m-%d') 
			</if>
			<if test="statisticsTimeEnd!=null and statisticsTimeEnd!=''">
				and statistics_time <![CDATA[ <= ]]> str_to_date(#{statisticsTimeEnd},  '%Y-%m-%d') 
			</if>
			<if test="createTimeBegin!=null and createTimeBegin!=''">
				and create_time <![CDATA[ >= ]]> str_to_date(#{createTimeBegin},  '%Y-%m-%d') 
			</if>
			<if test="createTimeEnd!=null and createTimeEnd!=''">
				and create_time <![CDATA[ <= ]]> str_to_date(#{createTimeEnd},  '%Y-%m-%d') 
			</if>
		</where>
	</select>
	
	<!-- 新增对象 如果需要在新增的时候返回id 就加入这个: useGeneratedKeys="true" keyProperty="id"   -->
	<insert id="insertByEntity" parameterType="com.pay.business.record.entity.Payv2StatisticsDayWay" useGeneratedKeys="true" keyProperty="id">
		insert into payv2_statistics_day_way
		<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id!=null ">
				id,
			</if>
      		<if test="channelId!=null ">
				channel_id,
			</if>
      		<if test="companyId!=null ">
				company_id,
			</if>
      		<if test="payWayId!=null ">
				pay_way_id,
			</if>
      		<if test="successOrderCount!=null ">
				success_order_count,
			</if>
      		<if test="successOrderMoney!=null ">
				success_order_money,
			</if>
      		<if test="statisticsTime!=null ">
				statistics_time,
			</if>
      		<if test="createTime!=null ">
				create_time,
			</if>
    	</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id!=null ">
      			#{id},
			</if>
      		<if test="channelId!=null ">
      			#{channelId},
			</if>
      		<if test="companyId!=null ">
      			#{companyId},
			</if>
      		<if test="payWayId!=null ">
      			#{payWayId},
			</if>
      		<if test="successOrderCount!=null ">
      			#{successOrderCount},
			</if>
      		<if test="successOrderMoney!=null ">
      			#{successOrderMoney},
			</if>
      		<if test="statisticsTime!=null ">
      			#{statisticsTime},
			</if>
      		<if test="createTime!=null ">
      			#{createTime},
			</if>
    	</trim>
	</insert>
	
	<!-- 根据删除 -->
	<delete id="deleteByEntity" parameterType="com.pay.business.record.entity.Payv2StatisticsDayWay">
		delete from payv2_statistics_day_way
		<where>
      		<if test="id!=null ">
				and id=#{id}
			</if>
      		<if test="channelId!=null ">
				and channel_id=#{channelId}
			</if>
      		<if test="companyId!=null ">
				and company_id=#{companyId}
			</if>
      		<if test="payWayId!=null ">
				and pay_way_id=#{payWayId}
			</if>
      		<if test="successOrderCount!=null ">
				and success_order_count=#{successOrderCount}
			</if>
      		<if test="successOrderMoney!=null ">
				and success_order_money=#{successOrderMoney}
			</if>
      		<if test="statisticsTime!=null ">
				and statistics_time=#{statisticsTime}
			</if>
      		<if test="createTime!=null ">
				and create_time=#{createTime}
			</if>
		</where>
	</delete>

	<!-- 根据对象修改 -->
	<update id="updateByEntity" parameterType="com.pay.business.record.entity.Payv2StatisticsDayWay">
		update payv2_statistics_day_way
		<set>
			<if test="channelId!=null ">
				channel_id=#{channelId},
			</if>
			<if test="companyId!=null ">
				company_id=#{companyId},
			</if>
			<if test="payWayId!=null ">
				pay_way_id=#{payWayId},
			</if>
			<if test="successOrderCount!=null ">
				success_order_count=#{successOrderCount},
			</if>
			<if test="successOrderMoney!=null ">
				success_order_money=#{successOrderMoney},
			</if>
			<if test="statisticsTime!=null ">
				statistics_time=#{statisticsTime},
			</if>
			<if test="createTime!=null ">
				create_time=#{createTime},
			</if>
		</set>
		<where>
			<if test="id!=null ">
				and id=#{id}
			</if>
		</where>
	</update>

	<!-- 根据对象查询单个 -->
	<select id="selectSingle" resultType="com.pay.business.record.entity.Payv2StatisticsDayWay" resultMap="payv2statisticsdayway_result_map">
		select id,channel_id,company_id,pay_way_id,success_order_count,success_order_money,statistics_time,create_time from payv2_statistics_day_way
		<where>
			<if test="id!=null ">
				and id=#{id}
			</if>
			<if test="channelId!=null ">
				and channel_id=#{channelId}
			</if>
			<if test="companyId!=null ">
				and company_id=#{companyId}
			</if>
			<if test="payWayId!=null ">
				and pay_way_id=#{payWayId}
			</if>
			<if test="successOrderCount!=null ">
				and success_order_count=#{successOrderCount}
			</if>
			<if test="successOrderMoney!=null ">
				and success_order_money=#{successOrderMoney}
			</if>
			<if test="statisticsTime!=null ">
				and statistics_time=#{statisticsTime}
			</if>
			<if test="createTime!=null ">
				and create_time=#{createTime}
			</if>
		</where>
	</select>
	
	<!-- 根据对象查询列表-->
	<select id="selectByObject" resultMap="payv2statisticsdayway_result_map" >
		select id,channel_id,company_id,pay_way_id,success_order_count,success_order_money,statistics_time,create_time from payv2_statistics_day_way
		<where>
			<if test="id!=null ">
				and id=#{id}
			</if>
			<if test="channelId!=null ">
				and channel_id=#{channelId}
			</if>
			<if test="companyId!=null ">
				and company_id=#{companyId}
			</if>
			<if test="payWayId!=null ">
				and pay_way_id=#{payWayId}
			</if>
			<if test="successOrderCount!=null ">
				and success_order_count=#{successOrderCount}
			</if>
			<if test="successOrderMoney!=null ">
				and success_order_money=#{successOrderMoney}
			</if>
			<if test="statisticsTime!=null ">
				and statistics_time=#{statisticsTime}
			</if>
			<if test="createTime!=null ">
				and create_time=#{createTime}
			</if>
		</where>
	</select>
	
	<!-- 分页 -->
	<select id="pageQueryByObject" resultMap="payv2statisticsdayway_result_map" >
		
		SELECT id,channel_id,company_id,pay_way_id,success_order_count,success_order_money,statistics_time,create_time FROM payv2_statistics_day_way 
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
			<if test="channelId!=null and channelId!=''">
				and channel_id = #{channelId}
			</if>
			<if test="companyId!=null and companyId!=''">
				and company_id = #{companyId}
			</if>
			<if test="payWayId!=null and payWayId!=''">
				and pay_way_id = #{payWayId}
			</if>
			<if test="successOrderCount!=null and successOrderCount!=''">
				and success_order_count = #{successOrderCount}
			</if>
			<if test="successOrderMoney!=null and successOrderMoney!=''">
				and success_order_money like  CONCAT('%',#{successOrderMoney},'%')
			</if>
			<if test="statisticsTimeBegin!=null and statisticsTimeBegin!=''">
				and statistics_time <![CDATA[ >= ]]> str_to_date(#{statisticsTimeBegin},  '%Y-%m-%d') 
			</if>
			<if test="statisticsTimeEnd!=null and statisticsTimeEnd!=''">
				and statistics_time <![CDATA[ <= ]]> str_to_date(#{statisticsTimeEnd},  '%Y-%m-%d') 
			</if>
			<if test="createTimeBegin!=null and createTimeBegin!=''">
				and create_time <![CDATA[ >= ]]> str_to_date(#{createTimeBegin},  '%Y-%m-%d') 
			</if>
			<if test="createTimeEnd!=null and createTimeEnd!=''">
				and create_time <![CDATA[ <= ]]> str_to_date(#{createTimeEnd},  '%Y-%m-%d') 
			</if>
		</where>
			<if test="sortName!=null and sortName!=''">
				ORDER BY ${sortName} ${sortOrder}
			</if>
		<include refid="base_page_query_end"/>
	</select>
	
	<!-- 查询今日支付比例柱状图-->
	<select id="getDayStatisticsWayInfo" resultMap="getDayStatistics_way_map" >
		SELECT  
			IFNULL(SUM(psdw.success_order_count),0) AS successCount ,
			IFNULL(SUM(psdw.success_order_money),0) AS successMoney,
			psdw.pay_way_id AS payId
		FROM 
			payv2_statistics_day_way psdw 
		<where>
			1=1
			<if test="id!=null ">
				and psdw.id=#{id}
			</if>
			<if test="channelId!=null ">
				and psdw.channel_id=#{channelId}
			</if>
			<if test="companyId!=null ">
				and psdw.company_id=#{companyId}
			</if>
			<if test="payWayId!=null ">
				and psdw.pay_way_id=#{payWayId}
			</if>
			<if test="successOrderCount!=null ">
				and psdw.success_order_count=#{successOrderCount}
			</if>
			<if test="successOrderMoney!=null ">
				and psdw.success_order_money=#{successOrderMoney}
			</if>
			<if test="statisticsTime!=null ">
				and psdw.statistics_time=#{statisticsTime}
			</if>
			AND  to_days(psdw.create_time) = to_days(now()) 
			GROUP BY psdw.pay_way_id
		</where>
	</select>
	
	<!-- 获取昨日柱状图数据 -->
	<select id="getYesterdayStatisticsWayInfo" resultMap="getDayStatistics_way_map" >
		SELECT  
			IFNULL(SUM(psdw.success_order_count),0) AS successCount ,
			IFNULL(SUM(psdw.success_order_money),0) AS successMoney,
			psdw.pay_way_id AS payId
		FROM 
			payv2_statistics_day_way psdw 
		<where>
			1=1
			<if test="id!=null ">
				and psdw.id=#{id}
			</if>
			<if test="channelId!=null ">
				and psdw.channel_id=#{channelId}
			</if>
			<if test="companyId!=null ">
				and psdw.company_id=#{companyId}
			</if>
			<if test="payWayId!=null ">
				and psdw.pay_way_id=#{payWayId}
			</if>
			<if test="successOrderCount!=null ">
				and psdw.success_order_count=#{successOrderCount}
			</if>
			<if test="successOrderMoney!=null ">
				and psdw.success_order_money=#{successOrderMoney}
			</if>
			<if test="statisticsTime!=null ">
				and psdw.statistics_time=#{statisticsTime}
			</if>
			AND TO_DAYS(NOW( ) ) - TO_DAYS(psdw.create_time) =1
			GROUP BY psdw.pay_way_id
		</where>
	</select>
	
	<!-- 获取近7 15 30天的柱状图数据 -->
	<select id="getlatelyDayWayInfo" resultMap="getDayStatistics_way_map" >
		SELECT  
			IFNULL(SUM(psdw.success_order_count),0) AS successCount ,
			IFNULL(SUM(psdw.success_order_money),0) AS successMoney,
			psdw.pay_way_id AS payId
		FROM 
			payv2_statistics_day_way psdw 
		<where>
			1=1
			<if test="id!=null ">
				and psdw.id=#{id}
			</if>
			<if test="channelId!=null ">
				and psdw.channel_id=#{channelId}
			</if>
			<if test="companyId!=null ">
				and psdw.company_id=#{companyId}
			</if>
			<if test="payWayId!=null ">
				and psdw.pay_way_id=#{payWayId}
			</if>
			<if test="successOrderCount!=null ">
				and psdw.success_order_count=#{successOrderCount}
			</if>
			<if test="successOrderMoney!=null ">
				and psdw.success_order_money=#{successOrderMoney}
			</if>
			<if test="statisticsTime!=null ">
				and psdw.statistics_time=#{statisticsTime}
			</if>
			<if test="latelyDayType!=null and latelyDayType!=''">
				and DATE_SUB(CURDATE(), INTERVAL #{latelyDayType} DAY) <![CDATA[ <= ]]> date(psdw.create_time)
			</if>
			<!-- <if test="latelyDayType==15">
				DATE_SUB(CURDATE(), INTERVAL 15 DAY) <= date(psdw.create_time)
			</if>
			<if test="latelyDayType==30">
				DATE_SUB(CURDATE(), INTERVAL 30 DAY) <= date(psdw.create_time)
			</if> -->
			GROUP BY psdw.pay_way_id
		</where>
	</select>
	<insert id="insertCustomBatch" parameterType="java.util.List">
		insert into payv2_statistics_day_way 
			(channel_id,company_id,pay_way_id,success_order_count,success_order_money,statistics_time,create_time)
		VALUES
		<foreach collection="list" item="maps" index="index" separator=",">
			(#{maps.channel_id},#{maps.company_id},#{maps.pay_way_id},#{maps.allSuccessCount},#{maps.allSuccessMoney},#{maps.statistics_time},#{maps.create_time})
		</foreach>
	</insert>
	<!-- 根据时间段/接入商 获取相关柱状图数据 -->
	<select id="getTimeWayInfo" resultMap="getDayStatistics_way_map" >
		SELECT  
			IFNULL(SUM(psdw.success_order_count),0) AS successCount ,
			IFNULL(SUM(psdw.success_order_money),0) AS successMoney,
			psdw.pay_way_id AS payId
		FROM 
			payv2_statistics_day_way psdw 
		<where>
			1=1
			<if test="id!=null ">
				and psdw.id=#{id}
			</if>
			<if test="channelId!=null ">
				and psdw.channel_id=#{channelId}
			</if>
			<if test="companyId!=null ">
				and psdw.company_id=#{companyId}
			</if>
			<if test="payWayId!=null ">
				and psdw.pay_way_id=#{payWayId}
			</if>
			<if test="successOrderCount!=null ">
				and psdw.success_order_count=#{successOrderCount}
			</if>
			<if test="successOrderMoney!=null ">
				and psdw.success_order_money=#{successOrderMoney}
			</if>
			<if test="statisticsTime!=null ">
				and psdw.statistics_time=#{statisticsTime}
			</if>
			<if test="createTimeBegin!=null and createTimeBegin!=''">
				and DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ >= ]]> str_to_date(#{createTimeBegin},  '%Y-%m-%d') 
			</if>
			<if test="createTimeEnd!=null and createTimeEnd!=''">
				and DATE_FORMAT(create_time,'%Y-%m-%d') <![CDATA[ <= ]]> str_to_date(#{createTimeEnd},  '%Y-%m-%d') 
			</if>
			GROUP BY psdw.pay_way_id
		</where>
	</select>
</mapper>