body { margin: 0px auto; width: 1000px; font: 400 14px/1.8em Arial,'Microsoft YaHei', '宋体'; }

form { margin: 0px; padding: 0px; }

img { border-style: none; vertical-align: middle; }


a:link, a:visited { color: #003; text-decoration: none; }

a:hover { color: #00f; text-decoration: underline; }

.orange { color: #FF7700; }

a.orange:link, a.orange:visited { color: #FF7700; }

.red { color: #f00; }

a.red:link, a.red:visited { color: #f00; }

.blue { color: Blue; }

a.blue:link, a.blue:visited { color: Blue; }

.c { clear: both; float: none; }

.ckeditor { display: none; }

.tl { text-align: left; }

.tc { text-align: center; }

.tr { text-align: right; }
.del { text-decoration: line-through; }
.auto_hidden { height: 0px; overflow: hidden; margin: 0; padding: 4px; list-style: none; background-color: pink; }
    .auto_hidden * { visibility: hidden; }
    .auto_hidden:hover { height: auto; }
        .auto_hidden:hover * { visibility: visible; }


.w100 { width: 100px; }

.w120 { width: 120px; }

.footer { border-top: 2px solid #f70; margin-top: 8px; padding-top: 8px; }

    .footer p { margin: 0px; padding: 0px; text-align: center; line-height: 25px; font-size: 14px; }

    .footer a:link, .footer a:visited { color: Black; }

.hidden { display: none; }

.page { line-height: 1.8em; font-size: 12px; text-align: center; margin-top: 8px; }

.datagrid { border-collapse: collapse; border: 1px solid #ccc; }
    .datagrid th, .datagrid td { border: 1px solid #ccc; border-right: none; border-bottom: none; padding: 4px; line-height: 2em; }
    .datagrid th { background: #eee; }
    .datagrid tr:hover td { background-color: #f4f4f4; }
