<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.pay.business.merchant.mapper.Payv2ChannelRateMapper">

	<resultMap id="payv2channelrate_result_map" type="com.pay.business.merchant.entity.Payv2ChannelRate" >
		<id column="id" property="id" />
		<result column="channel_way_id" property="channelWayId"/>
		<result column="rate_id" property="rateId"/>
		<result column="pay_way_rate" property="payWayRate"/>
		<result column="create_time" property="createTime"/>
		
		<result column="pay_way_id" property="payWayId"/>
	</resultMap>
	
	<!-- 分页limit -->
	<sql id="base_page_query_end">
		<![CDATA[
			LIMIT #{curPage},#{pageData}
		]]>
	</sql>
	
	<!-- 获取总数 -->
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from payv2_channel_rate  
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
			<if test="channelWayId!=null and channelWayId!=''">
				and channel_way_id = #{channelWayId}
			</if>
			<if test="rateId!=null and rateId!=''">
				and rate_id = #{rateId}
			</if>
			<if test="payWayRate!=null and payWayRate!=''">
				and pay_way_rate like CONCAT('%',#{payWayRate},'%')
			</if>
			<if test="createTimeBegin!=null and createTimeBegin!=''">
				and create_time <![CDATA[ >= ]]> str_to_date(#{createTimeBegin},  '%Y-%m-%d') 
			</if>
			<if test="createTimeEnd!=null and createTimeEnd!=''">
				and create_time <![CDATA[ <= ]]> str_to_date(#{createTimeEnd},  '%Y-%m-%d') 
			</if>
		</where>
	</select>
	
	<!-- 新增对象 如果需要在新增的时候返回id 就加入这个: useGeneratedKeys="true" keyProperty="id"   -->
	<insert id="insertByEntity" parameterType="com.pay.business.merchant.entity.Payv2ChannelRate" useGeneratedKeys="true" keyProperty="id">
		insert into payv2_channel_rate
		<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id!=null ">
				id,
			</if>
      		<if test="channelWayId!=null ">
				channel_way_id,
			</if>
      		<if test="rateId!=null ">
				rate_id,
			</if>
      		<if test="payWayRate!=null ">
				pay_way_rate,
			</if>
      		<if test="createTime!=null ">
				create_time,
			</if>
    	</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id!=null ">
      			#{id},
			</if>
      		<if test="channelWayId!=null ">
      			#{channelWayId},
			</if>
      		<if test="rateId!=null ">
      			#{rateId},
			</if>
      		<if test="payWayRate!=null ">
      			#{payWayRate},
			</if>
      		<if test="createTime!=null ">
      			#{createTime},
			</if>
    	</trim>
	</insert>
	
	<!-- 根据删除 -->
	<delete id="deleteByEntity" parameterType="com.pay.business.merchant.entity.Payv2ChannelRate">
		delete from payv2_channel_rate
		<where>
      		<if test="id!=null ">
				and id=#{id}
			</if>
      		<if test="channelWayId!=null ">
				and channel_way_id=#{channelWayId}
			</if>
      		<if test="rateId!=null ">
				and rate_id=#{rateId}
			</if>
      		<if test="payWayRate!=null ">
				and pay_way_rate=#{payWayRate}
			</if>
      		<if test="createTime!=null ">
				and create_time=#{createTime}
			</if>
		</where>
	</delete>

	<!-- 根据对象修改 -->
	<update id="updateByEntity" parameterType="com.pay.business.merchant.entity.Payv2ChannelRate">
		update payv2_channel_rate
		<set>
			<if test="channelWayId!=null ">
				channel_way_id=#{channelWayId},
			</if>
			<if test="rateId!=null ">
				rate_id=#{rateId},
			</if>
			<if test="payWayRate!=null ">
				pay_way_rate=#{payWayRate},
			</if>
			<if test="createTime!=null ">
				create_time=#{createTime},
			</if>
		</set>
		<where>
				id=#{id}
		</where>
	</update>

	<!-- 根据对象查询单个 -->
	<select id="selectSingle" resultType="com.pay.business.merchant.entity.Payv2ChannelRate" resultMap="payv2channelrate_result_map">
		select id,channel_way_id,rate_id,pay_way_rate,create_time from payv2_channel_rate
		<where>
			<if test="id!=null ">
				and id=#{id}
			</if>
			<if test="channelWayId!=null ">
				and channel_way_id=#{channelWayId}
			</if>
			<if test="rateId!=null ">
				and rate_id=#{rateId}
			</if>
			<if test="payWayRate!=null ">
				and pay_way_rate=#{payWayRate}
			</if>
			<if test="createTime!=null ">
				and create_time=#{createTime}
			</if>
		</where>
	</select>
	
	<!-- 根据对象查询列表-->
	<select id="selectByObject" resultMap="payv2channelrate_result_map" >
		select id,channel_way_id,rate_id,pay_way_rate,create_time from payv2_channel_rate
		<where>
			<if test="id!=null ">
				and id=#{id}
			</if>
			<if test="channelWayId!=null ">
				and channel_way_id=#{channelWayId}
			</if>
			<if test="rateId!=null ">
				and rate_id=#{rateId}
			</if>
			<if test="payWayRate!=null ">
				and pay_way_rate=#{payWayRate}
			</if>
			<if test="createTime!=null ">
				and create_time=#{createTime}
			</if>
		</where>
	</select>
	
	<!-- 分页 -->
	<select id="pageQueryByObject" resultMap="payv2channelrate_result_map" >
		
		SELECT id,channel_way_id,rate_id,pay_way_rate,create_time FROM payv2_channel_rate 
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
			<if test="channelWayId!=null and channelWayId!=''">
				and channel_way_id = #{channelWayId}
			</if>
			<if test="rateId!=null and rateId!=''">
				and rate_id = #{rateId}
			</if>
			<if test="payWayRate!=null and payWayRate!=''">
				and pay_way_rate like  CONCAT('%',#{payWayRate},'%')
			</if>
			<if test="createTimeBegin!=null and createTimeBegin!=''">
				and create_time <![CDATA[ >= ]]> str_to_date(#{createTimeBegin},  '%Y-%m-%d') 
			</if>
			<if test="createTimeEnd!=null and createTimeEnd!=''">
				and create_time <![CDATA[ <= ]]> str_to_date(#{createTimeEnd},  '%Y-%m-%d') 
			</if>
		</where>
			<if test="sortName!=null and sortName!=''">
				ORDER BY ${sortName} ${sortOrder}
			</if>
		<include refid="base_page_query_end"/>
	</select>
	
	<select id="queryByChannelId" resultMap="payv2channelrate_result_map" >
		select pcr.*,pcw.pay_way_id from payv2_channel_rate as pcr JOIN
		payv2_channel_way as pcw on pcr.channel_way_id = pcw.id
		where pcw.channel_id=#{channelId}
	</select>
	
	<!-- 根据删除 -->
	<delete id="deleteByChannelId" parameterType="java.lang.Long">
		delete from payv2_channel_rate where channel_way_id in 
		(select id from payv2_channel_way where channel_id=#{channelId})
	</delete>
</mapper>