<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.pay.business.payv2.mapper.Payv2ProvincesCityMapper">

	<resultMap id="payv2provincescity_result_map" type="com.pay.business.payv2.entity.Payv2ProvincesCity" >
		<id column="id" property="id" />
		<result column="parent_id" property="parentId"/>
		<result column="name" property="name"/>
	</resultMap>
	
	<!-- 分页limit -->
	<sql id="base_page_query_end">
		<![CDATA[
			LIMIT #{curPage},#{pageData}
		]]>
	</sql>
	
	<!-- 获取总数 -->
	<select id="getCount" resultType="java.lang.Integer">
		select count(*) from payv2_provinces_city  
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
			<if test="parentId!=null and parentId!=''">
				and parent_id = #{parentId}
			</if>
			<if test="name!=null and name!=''">
				and name like '%'||#{name}||'%'
			</if>
		</where>
	</select>
	
	<!-- 新增对象 如果需要在新增的时候返回id 就加入这个: useGeneratedKeys="true" keyProperty="id"   -->
	<insert id="insertByEntity" parameterType="com.pay.business.payv2.entity.Payv2ProvincesCity" useGeneratedKeys="true" keyProperty="id" >
		insert into payv2_provinces_city
		<trim prefix="(" suffix=")" suffixOverrides="," >
      		<if test="id!=null ">
				id,
			</if>
      		<if test="parentId!=null ">
				parent_id,
			</if>
      		<if test="name!=null ">
				name,
			</if>
    	</trim>
		<trim prefix="values (" suffix=")" suffixOverrides="," >
      		<if test="id!=null ">
      			#{id},
			</if>
      		<if test="parentId!=null ">
      			#{parentId},
			</if>
      		<if test="name!=null ">
      			#{name},
			</if>
    	</trim>
	</insert>
	
	<!-- 根据删除 -->
	<delete id="deleteByEntity" parameterType="com.pay.business.payv2.entity.Payv2ProvincesCity">
		delete from payv2_provinces_city
		<where>
      		<if test="id!=null ">
				and id=#{id}
			</if>
      		<if test="parentId!=null ">
				and parent_id=#{parentId}
			</if>
      		<if test="name!=null ">
				and name=#{name}
			</if>
		</where>
	</delete>

	<!-- 根据对象修改 -->
	<update id="updateByEntity" parameterType="com.pay.business.payv2.entity.Payv2ProvincesCity">
		update payv2_provinces_city
		<set>
			<if test="parentId!=null ">
				parent_id=#{parentId},
			</if>
			<if test="name!=null ">
				name=#{name},
			</if>
		</set>
		<where>
			id=#{id}
		</where>
	</update>

	<!-- 根据对象查询单个 -->
	<select id="selectSingle" resultType="com.pay.business.payv2.entity.Payv2ProvincesCity" resultMap="payv2provincescity_result_map">
		select id,parent_id,name from payv2_provinces_city
		<where>
			<if test="id!=null ">
				and id=#{id}
			</if>
			<if test="parentId!=null ">
				and parent_id=#{parentId}
			</if>
			<if test="name!=null ">
				and name=#{name}
			</if>
		</where>
	</select>
	
	<!-- 根据对象查询列表-->
	<select id="selectByObject" resultMap="payv2provincescity_result_map" >
		select id,parent_id,name from payv2_provinces_city
		<where>
			<if test="id!=null ">
				and id=#{id}
			</if>
			<if test="parentId!=null ">
				and parent_id=#{parentId}
			</if>
			<if test="name!=null ">
				and name=#{name}
			</if>
		</where>
	</select>
	
	<!-- 分页 -->
	<select id="pageQueryByObject" resultMap="payv2provincescity_result_map" >
		
		SELECT id,parent_id,name FROM payv2_provinces_city 
		<where>
			<if test="id!=null and id!=''">
				and id = #{id}
			</if>
			<if test="parentId!=null and parentId!=''">
				and parent_id = #{parentId}
			</if>
			<if test="name!=null and name!=''">
				and name like '%'||#{name}||'%'
			</if>
		</where>
			<if test="sortName!=null and sortName!=''">
				ORDER BY ${sortName} ${sortOrder}
			</if>
		<include refid="base_page_query_end"/>
	</select>
	
	<select id="queryByName" resultMap="payv2provincescity_result_map" parameterType="com.pay.business.payv2.entity.Payv2ProvincesCity">
		SELECT id,parent_id,name FROM payv2_provinces_city 
		<where>
			<if test="name!=null and name!=''">
				and name =#{name}
			</if>
		</where>
		limit 1
	</select>
</mapper>