<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="loginProc" verb="POST" path="login.ashx" type="n8wan.Public.Logical.UserLoginProc,n8wan.Public"/>
    </handlers>
  </system.webServer>
</configuration>