<?xml version="1.0"?>
<configuration>

  <appSettings>
    <clear/>
    <add key="DbDriver" value="n8wan.Public.dll" />
    <!--<add key="api_to_sp_url" value="http://sysurl.n8wan.com:9191/api/jj{0}.ashx"/>
    <add key="api_to_sp_url" value="http://callback.n8wan.com:9191/api/jjfff{0}.ashx"/>-->
    <add key="api_to_sp_url" value="http://sysurl.spcode.cn:9191/api/sp{0}.ashx"/>
    <add key="ResultModel" value="n8wan.codepool.Model.HtPoolResultModel"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <!--<add name="mySqlConStr" connectionString="server=df-db.spcode.cn;database=daily_config;uid=dsnetuser;pwd='sjkmmydyfz~sbs?';Pooling=true;CharSet=utf8;Max Pool Size=60;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->

    <add name="mySqlConStr" connectionString="server=192.168.1.11;database=daily_config;uid=root;pwd='123456';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="LimitUpgrade" path="LimitUpgrade.ashx" type="n8wan.codepool.Handler.UpdateUserLimitHandler,codepool.n8wan.com" verb="*" />
      <add name="VCodePostback" path="vcode.ashx" type="n8wan.codepool.Handler.PoolSecondHandler,codepool.n8wan.com" verb="*" />
      <add name="GetSpCmd" path="getcmd.jsp" type="n8wan.codepool.Handler.PoolFirstHandler,codepool.n8wan.com" verb="*" />
      <add name="ClearCache"  path="clearcache.ashx" verb="GET" type="n8wan.Public.Logical.ClearCacheHandler,n8wan.Public"/>
    </handlers>
  </system.webServer>
</configuration>