<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="DbDriver" value="n8wan.Public"/>
    <!--通道日月限-->
    <add key="TroneDayLimit" value="http://thread.n8wan.com/limit.jsp"/>
    <add key="apiTroneLimit" value="http://baidu.com/"/>
    <add key="CPDataPushMap" value="6:spid,2:spcode,fixed:status=DELIVRD"/>
    <add key="MoTroneOrderId" value="2017-07"/>

  </appSettings>
  <connectionStrings>
    <!--<add name="mySqlConStr" connectionString="server=l.kekutech.net;database=daily_config;uid=root;pwd='mmnmmfgm00';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="mySqlConStr" connectionString="server=192.168.1.11;database=daily_config;uid=root;pwd='123456';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <add name="129Mysql" connectionString="server=120.26.61.129;database=log_third_pay;uid=andy;pwd='andy123chen';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>
    <add name="mySqlConStr" connectionString="server=rm-wz918j2s6771hwg25o.mysql.rds.aliyuncs.com;database=daily_config;uid=dfuser;pwd='password#Abc_123';Pooling=true;CharSet=utf8;Max Pool Size=60;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>

    <!--<add name="mySqlConStr" connectionString="server=192.168.1.11;database=daily_config;uid=root;pwd='123456';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="mySqlConStr" connectionString="server=h2.n8wan.com;database=daily_config;uid=root;pwd='%@)!#!$';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="mySqlConStr" connectionString="server=sys.tangguoshell.cn;database=daily_config;uid=dsuser;pwd='jpwxRoot170223';Pooling=true;CharSet=utf8;Max Pool Size=60;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="mySqlConStr" connectionString="server=sys.vangmobi.com;database=daily_config;uid=root;pwd='DHnon0kmgf';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="mySqlConStr" connectionString="server=spcode.cn;port=6033;database=daily_config;uid=designer;pwd='a$!&amp;^@^).';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="mySqlConStr" connectionString="server=sys1.n8wan.com;database=daily_config;uid=root;pwd='%@)!#!$';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <!--pwd2='%@)!#!$';-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime requestValidationMode="2.0" />

    <pages clientIDMode="Static" />
  </system.web>

  <system.webServer>
    <handlers>
      <add name="AutoEditorReturnProc" path="*Editor.aspx" verb="GET" type="Shotgun.PagePlus.ReturnURL,Shotgun.Library"/>
      <add name="ClearCache" path="clearcache.ashx" verb="GET" type="n8wan.Public.Logical.ClearCacheHandler,n8wan.Public"/>
      <add name="MRCheck" path="MRCheck.ashx" verb="GET" type="n8wan.Public.Logical.MrTestHandler,n8wan.Public"/>
    </handlers>
  </system.webServer>

</configuration>
