<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ReidsConStr" value="szvpn.n8wan.com:6379;password=123456;"/>
    <add key="ReidsMaxage" value="180"/>
    <add key="ChangeCallbackPrefixUrl" value="http://the-x.cn/callback/FB{0}.ashx"/>
    <add key="DbDriver" value="n8wan.Public"/>

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>