<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ReidsConStr" value="119.23.255.99:63079,password=mlSfd156csCDsaDSCsd1545dsa"/>
    <add key="ReidsMaxage" value="180"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>