<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="DbDriver" value="n8wan.Public"/>
    <add key="syncUrlPerfix" value="http://spcb.n8wan.com:2109"/>
    <add key="pool_host" value="http://pool.n8wan.com"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="mySqlConStr" connectionString="server=l.kekutech.net;database=daily_config;uid=root;pwd='mmnmmfgm00';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->

    <!--<add name="mySqlConStr" connectionString="server=h2.n8wan.com;database=daily_config;uid=root;pwd='%@)!#!$';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="mySqlConStr" connectionString="server=192.168.1.11;database=daily_config;uid=root;pwd='123456';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="mySqlConStr" connectionString="server=sys.vangmobi.com;database=daily_config;uid=root;pwd='DHnon0kmgf';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="mySqlConStr" connectionString="server=sys.shhouheng.com;database=daily_config;uid=root;pwd='9bn08af78897899';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <!--<add name="mySqlConStr" connectionString="server=df-db.spcode.cn;database=daily_config;uid=dsuser;pwd='dsuser.,/.,';Pooling=true;CharSet=utf8;Max Pool Size=60;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>-->
    <add name="mySqlConStr" connectionString="server=sys1.n8wan.com;database=daily_config;uid=root;pwd='%@)!#!$';Pooling=true;CharSet=utf8;Max Pool Size=600;Connection Lifetime=3;" providerName="MySql.Data.MySqlClient"/>




  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages clientIDMode="Static" />
    <customErrors mode="Off"/>
    <authentication mode="Forms"  >
      <forms loginUrl="/passport/default.html" cookieless="UseCookies"/>
    </authentication>
    <!--<authorization>
      <deny users="?"/>
    </authorization>-->
  </system.web>



  <system.webServer>
    <handlers>
      <add name="AutoEditorReturnProc" path="*Editor.aspx" verb="GET" type="Shotgun.PagePlus.ReturnURL,Shotgun.Library"/>
      <add name="ClearCache" path="passport/clearcache.ashx" verb="GET" type="n8wan.Public.Logical.ClearCacheHandler,n8wan.Public"/>
    </handlers>
  </system.webServer>

</configuration>
