* {
	padding: 0px;
	margin: 0px;
}

html,
body {
	width: 100%;
	height: 400px;
	font-family: 'Arial Negreta', 'Arial';
}

a:link {
	text-decoration: none;
	/*color: #F60;*/
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
	/*font-size: 14px;
	font-weight: bold;*/
}

#checkreason {
	/*width: 398px;*/
	width: 90%;
	height: 250px;
	border: 1px solid #666666;
	margin:0 auto;
	margin-top: 20px;
}

#checkqcrode {
	/*width: 398px;*/
	width: 80%;
	height: 400px;
	border: 1px solid #666666;
	margin:0 auto;
	margin-top: 20px;
}

#checkreason .chson {
	/*margin: 0 auto;*/
	text-align: center;
	height: 39px;
	line-height: 39px;
	width: 100%;
	border-bottom: 1px solid #666;
	color: black;
	background: #efefef;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	/*font-family: "微软雅黑";*/
	/*margin: 0 auto;
	width:398px ;*/
}

#checkreason .chson .closec {
	height: 40px;
	width: 40px;
	position: absolute;
	top: -1px;
	right: -1px;
}

#checkreason .chcon {
	height: 210px;
	width: 100%;
	/*background: orange;*/
	position: relative;
}

#checkreason .chcon .chcon_info {
	text-align: center;
	margin: 0 auto;
	padding: 40px;
	padding-bottom: 0px;
	height: 170px;
	font-size: 14px;
	line-height: 14px;
	font-style: normal;
}

#checkreason .chcon .chcon_P {
	position: absolute;
	bottom: 40px;
	width: 100%;
	height: 28px;
	font-size: 15px;
	color: white;
	text-align: center;
}

#checkreason .chcon .chcon_P .chcon_edt {
	/*margin-left: 40px;*/
	width: 68px;
	height: 28px;
	line-height: 28px;
	/*border: 1px solid #666;*/
	display: inline-block;
	text-align: center;
	background: #5a99df;
	border-radius: 5px;
}

#checkreason .chcon .chcon_P .chcon_clo {
	margin-left: 60px;
	width: 68px;
	height: 28px;
	line-height: 28px;
	/*border: 1px solid #666;*/
	display: inline-block;
	text-align: center;
	background: #5a99df;
	border-radius: 5px;
}

#checkreason .chcon .chtable {
	height: 170px;
	padding: 40px;
	padding-bottom: 0px;
}

#checkreason .chcon .chtable .tableBasic {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	/*position: relative;*/
}

#checkreason .chcon .chtable .tableBasic th {
	height: 22px;
	line-height: 22px;
	font-size: 18px;
}

#checkreason .chcon .chtable .tableBasic td {
	height: 30px;
	line-height: 30px;
	font-size: 16px;
}

#checkreason .chcon .chtable .tableBasic .tablea {
	color: blue;
}

#checkreason .chcon .chcon_cp {
	position: absolute;
	bottom: 30px;
	width: 100%;
	height: 28px;
	font-size: 15px;
	color: white;
	text-align: center;
}

#checkreason .chcon .chcon_cp .chcon_cpclo {
	width: 68px;
	height: 28px;
	line-height: 28px;
	background: #5a99df;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
}

.payTextarea{ width: 300px; height: 60px; padding: 5px; border:1px solid #ccc; border-radius: 5px;}